{% extends 'user_dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Bookings
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
{% endblock %}

{% block content %}
    <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="col-sm-6">
            <h1>Bookings</h1>
        </div>
        <!-- Button to trigger the modal -->
        <div class="col-sm-6" style="text-align: right; align-items: center">
            <button type="button" class="add-button" data-bs-toggle="modal" data-bs-target="#bookingModal">
                <span>Book</span>
            </button>
        </div>

        <!-- Booking Modal -->
        <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel">Create Booking</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'dashboard:create_booking' %}">
                            {% csrf_token %}
                            {{ booking_form|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit Booking</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bookings.js' %}"></script>
    <div id="calendar"></div>
{% endblock %}
